@page "{handler?}"
@model IndexModel

@{
    var processo =  " * PROCESSO ABERTO APÓS VISTORIA COM MEDIDAS INICIAIS" +
                    "<br> * PROCESSO ABERTO APÓS VISTORIA SEM MEDIDAS INICIAIS" +
                    "<br> * PROCESSO ABERTO ANTES DA VISTORIA POR RISCO A INTEGRIDADE" +
                    "<br> * PROCESSO ABERTO ANTES DA VISTORIA PARA OPERAÇÃO" +
                    "<br> * PROCESSO ABERTO ANTES DA VISTORIA PARA POLIS";
}


<div class="conteiner formulario">
    
    <form method="POST">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <fieldset>

            <div class="form-group">
                <label asp-for="Denuncia.data"></label>
            </div>

            <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' asp-for="Denuncia.data" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>                  
                </div>
                <span asp-validation-for="Denuncia.data" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Denuncia.numero"></label>
            </div>

            <div class="form-group">
                <input type="text" asp-for="Denuncia.numero" class="form-control" maxlength="15">
            </div>

            <div class="form-group">
                <label asp-for="Denuncia.tipo"></label>
            </div>

            <div class="form-group" >
                <select class="form-control" asp-for="Denuncia.tipo">
                    <option></option>

                    @{
                        @foreach (var item in Model.ListaTipos)
                        {
                            <option value="@item.Value">@item.Name</option>
                        }
                    }

                </select>
                <span asp-validation-for="Denuncia.tipo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Denuncia.bairro"></label>
            </div>

            <div class="form-group"> 
                    
                <select asp-for="Denuncia.bairro" class="form-control" id="bairro">
                    <option></option>
                            @{

                                @await Html.PartialAsync("./Shared/_BairrosPartial.cshtml",
                                                    new ViewDataDictionary(this.ViewData)
                                                    )
                            }
                </select>
                
                        

                <script type="text/javascript">
                    
                </script>

                <span asp-validation-for="Denuncia.bairro" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label asp-for="Denuncia.logradouro"></label>
            </div>

            <div class="form-group">
                <select asp-for="Denuncia.logradouro" class="form-control" id="logradouro">
                    <div id="logradouro" class="form-control"></div>
                </select>
                <span asp-validation-for="Denuncia.logradouro" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Denuncia.complemento"></label>
            </div>

            <div class="form-group">
                <input type="text" asp-for="Denuncia.complemento" class="form-control">
            </div>

            <div class="form-group">
                <label asp-for="Denuncia.categoria"></label>
            </div>

            <div class="form-group"> 
                    
                <select asp-for="Denuncia.categoria" class="form-control" id="categoria">
                    <option></option>
                            @{

                                @await Html.PartialAsync("./Shared/_CategoriaPartial.cshtml",
                                                    new ViewDataDictionary(this.ViewData)
                                                    )
                            }
                </select>

                <span asp-validation-for="Denuncia.categoria" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Denuncia.processo" id="label_processo"></label>
            </div>

            <div class="form-group">
                <input type="text" asp-for="Denuncia.processo" class="form-control" id="processo">
            </div>

            <div class="form-group">
                <label id="label_constatacao">CONSTATAÇÃO</label>
            </div>

            <div class="form-group">
            <textarea class="form-control" rows="2" cols="2" id="constatacao"></textarea>
            </div>

            <div class="form-group">
                <label id="label_detalhes">DETALHES</label>
            </div>

            <div class="form-group">
            <textarea class="form-control" rows="2" cols="2" id="detalhes"></textarea>
            </div>

            <div class="form-group">
                <label id="label_observacoes">OBSERVAÇÕES</label>
            </div>

            <div class="form-group">
            <textarea class="form-control" rows="2" cols="2" id="observacoes"></textarea>
            </div>


            <input type="submit" value="ENVIAR">

        </fieldset>
    </form>

  

</div>

  @section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
  }


