@page "{handler?}"
@model IndexModel


<div class="conteiner formulario">
    
    <form method="POST">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <fieldset>

            <div class="form-group">
                <label asp-for="Denuncia.data"></label>
            </div>

            <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' asp-for="Denuncia.data" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>                  
                    
                     <script type="text/javascript">
                $(function () {
                    $('#datetimepicker2').datetimepicker({
                        locale: 'pt-br'
                    });
                });
            </script>

                </div>
                <span asp-validation-for="Denuncia.data" class="text-danger"></span>
            </div>
           


            <div class="form-group">
                <label asp-for="Denuncia.tipo"></label>
            </div>

            <div class="form-group" >
                <select class="form-control" asp-for="Denuncia.tipo">
                    <option></option>

                    @{
                        @foreach (var item in Model.ListaTipos)
                        {
                            <option value="@item.Value">@item.Name</option>
                        }
                    }

                </select>
                <span asp-validation-for="Denuncia.tipo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Denuncia.bairro"></label>
            </div>

            <div class="form-group"> 
                    
                <select asp-for="Denuncia.bairro" class="form-control" id="bairro">
                    <option></option>
                            @{

                                @await Html.PartialAsync("./Shared/_BairrosPartial.cshtml",
                                                    new ViewDataDictionary(this.ViewData)
                                                    )
                            }
                </select>
                
                        

                <script type="text/javascript">
                    $('#bairro').change(function(){

                            paramBairro = document.getElementById("bairro").value;
                                                                                           
                            $.get('/Formulario/Index/Json', {param: paramBairro}).done(function (logradouro) {
                                
                                var options = '<option value=""> </options>';
                                $.each(logradouro, function(key, val){
                                    options += '<option value="' + val.logradouroId + '">' + val.nome + '</option>';    
                                });

                                $("#logradouro").html('<option></options').html(options);
                            
                            })
                    });
                </script>

                <span asp-validation-for="Denuncia.bairro" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label asp-for="Denuncia.logradouro"></label>
            </div>

            <div class="form-group">
                <select asp-for="Denuncia.logradouro" class="form-control" id="logradouro">
                    <div id="logradouro" class="form-control"></div>
                </select>
                <span asp-validation-for="Denuncia.logradouro" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Denuncia.complemento"></label>
            </div>

            <div class="form-group">
                <input type="text" asp-for="Denuncia.complemento" class="form-control">
            </div>

            <div class="form-group">
                <label asp-for="Denuncia.processo"></label>
            </div>

            <div class="form-group">
                <input type="text" asp-for="Denuncia.processo" class="form-control">
            </div>

            <div class="form-group">
                <label asp-for="Denuncia.categoria"></label>
            </div>

            <div class="form-group"> 
                    
                <select asp-for="Denuncia.categoria" class="form-control">
                    <option></option>
                            @{

                                @await Html.PartialAsync("./Shared/_CategoriaPartial.cshtml",
                                                    new ViewDataDictionary(this.ViewData)
                                                    )
                            }
                </select>

                <span asp-validation-for="Denuncia.categoria" class="text-danger"></span>
            </div>

            <input type="submit" value="ENVIAR">

        </fieldset>
    </form>

  

</div>

  @section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
  }


