@page "{handler?}"
@model IndexModel

<partial name="_LoginPartial" />

<div class="conteiner formulario">
    

        <form method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label>BAIRROS</label>
            </div>



            <div class="form-group">
                <select class="form-control" id="bairroQueryLocal" name="bairro" >
                        <option></option>
                                @{

                                    @await Html.PartialAsync("./Shared/_BairrosPartial.cshtml",
                                                        new ViewDataDictionary(this.ViewData)
                                                        )
                                }
                </select>
            </div>

            <div class="form-group">
                <label>LOGRADOURO</label>
            </div>

            <div class="form-group"></div>
                <select class="form-control" id="logradouroLocal" name="logradouro">
                </select>
            </div>


            
                <button asp-page-handler="Export" class="btn btn-link" id="excel"><span class="glyphicon glyphicon-download-alt"></span></span> Exportar para excel</button>           
        </form>

            <div class="formulario">
                <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <button type="botton" id="pesquisarLocal" class="btn btn-primary btn-lg btn-block">PESQUISAR</button>
                </div>
                <div class="col-sm-4"></div>
                </div>
            </div>
            
            <div id="queryLocal"></div>



</div>

 
  @section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
  }


