@page "{handler?}"
@model IndexModel

<partial name="_LoginPartial" />


<div class="conteiner formulario">
    

            <div class="form-group">
                <label><span class="glyphicon glyphicon-th-large"></span>  Número</label>
            </div>

            <div class="input-group">
                <span class="input-group-btn" id="limparCampo">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-trash" id="limparCampo"></span></button>
                </span>
                <input type="text" class="form-control" placeholder="Informe o número do chamado" id="queryNumero">
            </div>

            <div>
                
            </div>


            <div class="formulario">
                <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <button type="botton" id="pesquisarNumero" class="btn btn-primary btn-lg btn-block"><span class="glyphicon  glyphicon-check"></span></button>
                </div>
                <div class="col-sm-4"></div>
                </div>
            </div>
            
            <div id="queryNumeroEncontrado"></div>

</div>

 
  @section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
  }


